html body{
    margin:0;
    padding:0;
    overflow:hidden;
    scrollbar-width: none;
}
-webkit-scrollbar {
    display: none;
}

.menubar{
    margin-top:0;
    position: fixed;
    height: 30px;
    width:100%;
    background-color: chartreuse;
    color:white;
    font-size: large;
}
.menubar .hopex{
    position: absolute;
    top:5px;
    left:20px;
 
}
.menubar .hopex:hover{
    cursor: pointer;
}
.menubar .contact {
    height:30px;
    width:58px;
    overflow: hidden;    
    float:right;
    margin-right: 1%;
    color:black
    
}
.menubar .home {
   height:30px;
   width:50px;
   color: black;
   float:right;
   margin-right: 1%;  
}
.menubar .contact p{
    text-align: center;
    margin-top: 2px;
}
.menubar .home p{
    text-align:center;
    margin-top: 2px;

}
.menubar .home:hover{
    background-color:rgb(87, 163, 12) ;
    transition-duration: .5s;
    cursor: pointer;

}
.menubar .contact:hover{
    background-color:rgb(87, 163, 12) ;
    transition-duration: .5s;
    cursor: pointer;
}
.workout{
    display: grid;

}
.work1{
    background-color:none;
    margin-top: 15px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    font-size: 20px;
    grid-row: 1;
    grid-column: 1;
    color: rgb(240, 248, 255);
}
.work2{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 2;
    grid-column: 1;


}
.work3{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 3;
    grid-column: 1;


}
.work4{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 4;
    grid-column: 1;


}
.work5{
    background-color: none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 5;
    grid-column: 1;


}
.work6{
    background-color: none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 6;
    grid-column: 1;


}
.work7{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 7;
    grid-column: 1;


}
.work8{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 8;
    grid-column: 1;


}
.work9{
    background-color: none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 9;
    grid-column: 1;


}
.work10{
    background-color:none;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
    width : 60%;
    grid-row: 10;
    grid-column: 1;


}
.work1vid
{
 margin-top: 25px;
 margin-left: 10px;
 height: 480px;
 width: 680px;
 grid-row: 1;
 grid-column: 2;
}
.work2vid
{
 margin-top: 10px;
 margin-left: 10px;
 height: 480px;
 width: 680px;
 grid-row: 2;
 grid-column: 2;
}
